html {
    scroll-behavior: smooth;
  }
  * {
    padding: 0;
    margin: 0;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
      monospace;
  }



  .topnav{
    background-color: #575d72;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
  }
  .topnav a{
    text-decoration: none;
    color: #ccd6f6;
    margin-right: 1em;
    font-size: 17px;
    padding: 14px 16px;

  }

  .topnav a.active{
    background-color: #8892b0;
  }


  .topnav a:hover {
    color: #64ffda;
  }



  .resume {
    color: #64ffda !important;
  
  }

  input[type=checkbox]{
    display: none;

  }

  .hamburger{
    font-size: 24px;
    user-select: none;
    color: white;
    display: none;
  }


  #intro {
    box-sizing: border-box;
    background-color: #233554;
    height: 700px;
    /* margin: 5% auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* margin-top: -5px; */
  }

  h1 {
    color: #64ffda;
    font-size: 20px;
    font-weight: 400;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
      monospace;
    margin-top: 10px;
  }

  .name {
    font-size: clamp(40px, 8vw, 80px);
    line-height: 1.1;
    color: #ccd6f6;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
      monospace;
    margin-top: 10px;
    border-right: 2px solid rgba(255, 255, 255, 0.705);
    width: 6.5em;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(7) 1s infinite normal both;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 6.5em;
    }
  }
  @keyframes blink {
    0% {
      border-right-color: rgba(255, 255, 255, 0.705);
    }

    100% {
      border-right-color: transparent;
    }
  }

  h3 {
    margin-top: 10px;
    line-height: 0.9;
    color: #8892b0;
    font-size: 24px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
      monospace;
   
  }

  span a i {
    margin-top: 2em;
    line-height: 0.9;
    color: #8892b0;
    font-size: 26px;
  }

  /* span a i:hover {
    color: #64ffda;
    animation: zoom 0.5s ease-in forwards;
  }

  @keyframes zoom {
    0% {
      transform: scale(1);
      box-shadow: 0 2px 5px #8892b0;
    }
    100% {
      transform: scale(1.1);
    }
  } */

  .sec-two{
    background-color: #233554;
    margin-top: -95px;

  }

  #about {
    box-sizing: border-box;
    margin-top: 40%;
    height: 800px;
    width: 80%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about p {
    color: #8892b0;
  }

  .sec-three{
    /* background-image: linear-gradient(to bottom right, #CBC9E2, #233554); */
    /* margin-top: -85px; */
    /* background-color: #64FFDA; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    


  }

  .sec-three div {
    height: 800px;
    margin: 5px;
    padding: 25px;
    text-align: center;
    width: 25%;
  }

  .image {
    width: 250px;
    height: 150px;
    border: 1px solid whitesmoke;
  }

  .image:hover{
    animation: zoom 0.5s ease-in forwards;
    cursor: pointer;
  }

  @keyframes zoom {
    0% {
      transform: scale(1);
      box-shadow: 0 2px 5px #8892b0;
    }
    100% {
      transform: scale(1.1);
    }
  }



  .sec-three div h3 a {
    margin-top: 15px;
    text-decoration: none;
    cursor: pointer;
    color: #8892b0;


  }

  .sec-three div h3 a:hover{
    text-decoration: underline;
  }




  .sec-three div p {
    font-size: 18px;
    margin-top: 15px;
  }

  .sec-four{
    background-color: #CBC9E2;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;


  }
  
  .contact {
    text-align: center;
  }

  .contact p{
    font-size: 40px;
    padding: 12px;
    color: #233554;
    font-weight: 700;
  }

  .contact input {
    width: 19em;
    padding: 1em 0;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    outline: none;
    background-color: #CBC9E2;
    margin:0 3em;
    

  }

  .contact textarea{
    width: 45em;
    padding: 1em 0;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    outline: none;
    background-color: #CBC9E2;
    
  }

  .contact button{
    width: 25em;
    padding: 1em;
    border: 0.1px none wheat;
    border-radius: 8px;
    margin-top: 2em;
    background-color: #233554;
    color: #8892b0;
    font-size: 18px;
  }

  .contact button:hover{
    cursor: pointer;
    background-color: #575d72;
    opacity: 7;
    color: #64ffda;
  }

  @media screen and (max-width: 768px) {

   
    .topnav{
      background-color: #2f3c52;
      /* display: flex;
      flex-direction: column;
       */
    }

    .topnav a:hover{
      background-color: #8892b0;
      transition: 0.3s ease;
    }

    .topnav nav{
        padding: 16px 0;
        position: absolute;
        right: 0;
        left: 0;
        top: 50px;
        text-align: center;
        display: none;
        background-color: #2f3c52;



    }

    input[type=checkbox]:checked ~ nav{
        display: flex;
        flex-direction: column;
        justify-content: center;

    
      }
    
      .hamburger{
        display: block;
      }
      
      #intro{
        margin: 0 auto;
      }


    .sec-three{
      display: flex;
      flex-direction: column;
    }

    

    .sec-three div {
    height: 300px;
    margin: 5px;
    padding: 25px;
    text-align: center;
    width: 80%;
  }

  .contact p{
    font-size: 30px;
    padding: 12px;
    color: #233554;
    font-weight: 700;
  }

    .contact textarea{
    width: 19em;
    padding: 0;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    outline: none;
    background-color: #CBC9E2;
    
  }

  .contact button{
    width: 15em;
    padding: 1em;
    border: 0.1px none wheat;
    border-radius: 8px;
    margin-top: 2em;
    background-color: #233554;
    color: #8892b0;
    font-size: 18px;
  }


    
  

  }

  @media screen and (max-width: 1020px) {
    .sec-three{
      display: flex;
      flex-direction: column;
    }

    

    .sec-three div {
    height: 300px;
    margin: 5px;
    padding: 25px;
    text-align: center;
    width: 80%;
  }
    
  

  }

  


